login.html

<html lang="en">
  <head>
    <meta name="viewport" content="width:device-width;initial-scale:1.0"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <title>Login section</title>
  </head>
  <body>
    <div id="login-section">
      <div id="ls-container" class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading text-center"><span class="login-head">Index kinerja dosen</span></div>
          <div class="panel-body">
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3">Username</label>
                <div class="col-sm-9">
                  <input class="form-control"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3">Password</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control"/>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer clearfix">
            <div class="col-sm-12">
              <div class="text-right">
                <button class="btn btn-success">Login</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

jade/login.jade
//output:../login.html

html(lang="en")
  head
    meta(name="viewport",content="width:device-width;initial-scale:1.0")
    link(rel="stylesheet",href="css/bootstrap.min.css")
    link(rel="stylesheet",href="css/main.css")
    title
      | Login section
  body
    #login-section
      .col-sm-4#ls-container
        .panel.panel-default
          .panel-heading.text-center
            span.login-head
              | Index kinerja dosen
          .panel-body
            .row
              .form-group
                label.col-sm-3 Username
                .col-sm-9
                  input.form-control
            .row
              .form-group
                label.col-sm-3 Password
                .col-sm-9
                  input(type="password").form-control
          .panel-footer.clearfix
            .col-sm-12
              .text-right
                button.btn.btn-success Login
              
    
    script(src="js/jquery.min.js")
    script(src="js/main.js")
