jade/dosen/dosen-setting.jade
//output:../../_dosen/dosen-setting.html
extends master-dosen.jade

block content
  ul.nav.nav-tabs(role="tablist")
    li.active.tt(role="presentation")
      a(href="#profil",aria-controls="profil",role="tab",data-toggle="tab") 
        small
          i.glyphicon.glyphicon-user
        b   Pengaturan Akun
  .tab-content
    br  
    .col-sm-12
      form#form-profil
        .row
          .form-group
            .col-sm-2 Username*
            .col-sm-4
              input.form-control
        br
        .row
          .form-group
            .col-sm-2 Password Lama*
            .col-sm-4
              input(type="password").form-control
        br
        .row
          .form-group
            .col-sm-2 Password Baru*
            .col-sm-4
              input(type="password").form-control
        br    
        .row
          .form-group
            .col-sm-2 Ulangi Password Baru*
            .col-sm-4
              input(type="password").form-control
        br
        .row
          .well
            button.btn.btn-sm.btn-primary Simpan Perubahan
            button.btn.btn-sm.btn-default Batal

block custom_script
  script(src="../js/setting-dekan.js")

dosen-setting.html

<html lang="en">
  <head>
    <meta name="viewport" content="width:device-width;initial-scale:1.0"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/main-dekan.css"/>
  </head>
  <body>
    <div id="dashboard-admin" class="clearfix">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button data-toggle="collapse" data-target="#mynav" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="index.html" style="font-weight:200;font-size:21px" class="navbar-brand">Indeks kinerja dosen</a>
          </div>
          <div id="mynav" class="collapse navbar-collapse">
            <div class="nav navbar-nav navbar-right">
              <li><a href="login.html" class="link-logout"><span style=""> <i class="glyphicon glyphicon-off"></i></span></a></li>
            </div>
          </div>
        </div>
      </nav><br/>
      <div class="col-sm-12">
        <div style="padding:0" class="col-sm-10">
          <ul role="tablist" class="nav nav-tabs">
            <li role="presentation" class="active tt"><a href="#profil" aria-controls="profil" role="tab" data-toggle="tab"> <small><i class="glyphicon glyphicon-user"></i></small><b>  Pengaturan Akun</b></a></li>
          </ul>
          <div class="tab-content"><br/>
            <div class="col-sm-12">
              <form id="form-profil">
                <div class="row">
                  <div class="form-group">
                    <div class="col-sm-2">Username*</div>
                    <div class="col-sm-4">
                      <input class="form-control"/>
                    </div>
                  </div>
                </div><br/>
                <div class="row">
                  <div class="form-group">
                    <div class="col-sm-2">Password Lama*</div>
                    <div class="col-sm-4">
                      <input type="password" class="form-control"/>
                    </div>
                  </div>
                </div><br/>
                <div class="row">
                  <div class="form-group">
                    <div class="col-sm-2">Password Baru*</div>
                    <div class="col-sm-4">
                      <input type="password" class="form-control"/>
                    </div>
                  </div>
                </div><br/>
                <div class="row">
                  <div class="form-group">
                    <div class="col-sm-2">Ulangi Password Baru*</div>
                    <div class="col-sm-4">
                      <input type="password" class="form-control"/>
                    </div>
                  </div>
                </div><br/>
                <div class="row">
                  <div class="well">
                    <button class="btn btn-sm btn-primary">Simpan Perubahan</button>
                    <button class="btn btn-sm btn-default">Batal</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div id="dash-container">
            <div id="dash-pp"><img src="img/user.jpg"/></div>
            <div id="dash-info"><b id="nama-info">Dewi Soyusiowaty, S.T.,M.T</b><span class="role-info">Dosen</span><span class="role-info">Fakultas Teknologi Industri</span></div><br/>
            <ul class="nav nav-pills nav-stacked admin-menu">
              <li id="dekan"><a href="dosen-dosen.html"><small> <i class="glyphicon glyphicon-user"></i></small>&nbsp; <span>|&nbsp; Dosen</span><small class="super-small">
                    <div class="pull-right"><i class="glyphicon glyphicon-menu-right"></i></div></small></a></li>
              <li id="setting"><a href="dosen-setting.html"><small> <i class="glyphicon glyphicon-cog"></i></small>&nbsp; <span>|&nbsp; Setting</span><small class="super-small">
                    <div class="pull-right"><i class="glyphicon glyphicon-menu-right"></i></div></small></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/setting-dekan.js"></script>
  </body>
</html>
