dosen-dosen.html

<html lang="en">
  <head>
    <meta name="viewport" content="width:device-width;initial-scale:1.0"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/main-dekan.css"/>
    <link rel="stylesheet" href="css/select2.min.css"/>
  </head>
  <body>
    <div id="dashboard-admin" class="clearfix">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button data-toggle="collapse" data-target="#mynav" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="index.html" style="font-weight:200;font-size:21px" class="navbar-brand">Indeks kinerja dosen</a>
          </div>
          <div id="mynav" class="collapse navbar-collapse">
            <div class="nav navbar-nav navbar-right">
              <li><a href="login.html" class="link-logout"><span style=""> <i class="glyphicon glyphicon-off"></i></span></a></li>
            </div>
          </div>
        </div>
      </nav><br/>
      <div class="col-sm-12">
        <div style="padding:0" class="col-sm-10">
          <div style="padding:5px" class="col-sm-12 bg-info">
            <form id="form-dekan">
              <div class="col-sm-12">
                <div id="ikd-form1" class="row clearfix">
                  <div style="padding:0" class="col-sm-3 col-sm-offset-4">
                    <label style="line-height:30px;padding:0" class="col-sm-4 text-right"><small>Semester &nbsp;</small></label>
                    <div style="padding:0" class="col-sm-8">
                      <select class="form-control">
                        <option value="0">-- Pilih Semester --</option>
                        <option value="20151">GASAL 2015/2016</option>
                        <option value="20142">GENAP 2014/2015</option>
                        <option value="20141">GASAL 2014/2015</option>
                        <option value="20132">GENAP 2013/2014</option>
                        <option value="20131">GASAL 2013/2014</option>
                        <option value="20122">GENAP 2012/2013</option>
                        <option value="20121">GASAL 2012/2013</option>
                        <option value="20112">GENAP 2011/2012</option>
                        <option value="20111">GASAL 2011/2012</option>
                        <option value="20102">GENAP 2010/2011</option>
                        <option value="20101">GASAL 2010/2011</option>
                        <option value="20092">GENAP 2009/2010</option>
                        <option value="20091">GASAL 2009/2010</option>
                        <option value="20082">GENAP 2008/2009</option>
                        <option value="20081">GASAL 2008/2009</option>
                        <option value="20072">GENAP 2007/2008</option>
                        <option value="20071">GASAL 2007/2008</option>
                        <option value="20062">GENAP 2006/2007</option>
                        <option value="20061">GASAL 2006/2007</option>
                        <option value="20052">GENAP 2005/2006</option>
                        <option value="20051">GASAL 2005/2006</option>
                        <option value="20042">GENAP 2004/2005</option>
                        <option value="20041">GASAL 2004/2005</option>
                        <option value="20032">GENAP 2003/2004</option>
                        <option value="20031">GASAL 2003/2004</option>
                        <option value="20022">GENAP 2002/2003</option>
                        <option value="20021">GASAL 2002/2003</option>
                        <option value="20012">GENAP 2001/2002</option>
                        <option value="20011">GASAL 2001/2002</option>
                        <option value="20002">GENAP 2000/2001</option>
                        <option value="20001">GASAL 2000/2001</option>
                        <option value="19992">GENAP 1999/2000</option>
                        <option value="19991">GASAL 1999/2000</option>
                        <option value="19982">GENAP 1998/1999</option>
                        <option value="19981">GASAL 1998/1999</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <button class="btn btn-default btn-sm">Lihat</button>
                  </div>
                </div>
              </div>
              <div class="col-sm-1"></div>
            </form>
          </div>
          <div id="dekan-container" class="hidden">       
            <div class="col-sm-12"><br/>
              <div class="row">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td>Nama </td>
                      <td>ABDUL FADLIL, DR.,M.T.</td>
                    </tr>
                    <tr>
                      <td> NIP / NIY</td>
                      <td>60960140</td>
                    </tr>
                    <tr>
                      <td>Prodi</td>
                      <td>TEKNIK INFORMATIKA</td>
                    </tr>
                    <tr>
                      <td>Semester</td>
                      <td>GASAL 2015/2016</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div><br/>
            <div class="col-sm-12">
              <div class="row">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th rowspan="2">#</th>
                      <th rowspan="2">Kode MK</th>
                      <th rowspan="2">Mata Kuliah</th>
                      <th rowspan="2">SKS</th>
                      <th rowspan="2">Kelas</th>
                      <th rowspan="2">JML MHS</th>
                      <th colspan="3" class="text-center">Index Kinerja Dosen</th>
                      <th rowspan="2">Nilai IKD          </th>
                    </tr>
                    <tr>
                      <th>Kehadiran Mengajar (K1)</th>
                      <th>Ketepatan Penyerahan Nilai (K2)</th>
                      <th>Penulaian Mahasiswa (K3)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>1800000258</td>
                      <td>Pengenalan Pola</td>
                      <td>3</td>
                      <td>A</td>
                      <td>15</td>
                      <td>4</td>
                      <td>4</td>
                      <td>3.37</td>
                      <td>3.37</td>
                    </tr>
                    <tr>
                      <td colspan="10">&nbsp;</td>
                    </tr>
                    <tr>
                      <th colspan="9" class="text-right">IKD Total</th>
                      <td>3.37</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-sm-12 text-right"> 
              <button class="btn btn-warning"><i class="fa fa-print"> </i>  Cetak</button>
            </div>&nbsp;
            <div class="col-sm-12">
              <div class="row">
                <div class="panel panel-default">
                  <div class="panel-heading">&nbsp;</div>
                  <div class="panel-body">
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="well clearfix">
                          <div class="col-sm-6 text-center">
                            <div class="row">Diperiksa oleh<br><b>Ketua Program Studi</b><br/><br/><br/><br/>( Sri Winiarti, S.T.,M.Cs )</div><br/><br/>
                            <div class="row">Diperiksa oleh<br><b>Dekan FTI</b><br/><br/><br/><br/>( Kartika Firdausy, S.T.,M.T )</div>
                          </div>
                          <div class="col-sm-6 text-center">Tanggal : 23-42-1131<br/><br/><br/><br/><br/><br/><br/>Tanggal : --/--/--<br><br/>
                            <button class="btn btn-sm btn-primary">Periksa</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="well text-center"><b>Rekomendasi Ketua Program Studi</b><br/><br/><br/><br/><br/><br/><br/><br/></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div id="dash-container">
            <div id="dash-pp"><img src="img/user.jpg"/></div>
            <div id="dash-info"><b id="nama-info">Dewi Soyusiowaty, S.T.,M.T</b><span class="role-info">Dosen</span><span class="role-info">Fakultas Teknologi Industri</span></div><br/>
            <ul class="nav nav-pills nav-stacked admin-menu">
              <li id="dekan"><a href="dosen-dosen.html"><small> <i class="glyphicon glyphicon-user"></i></small>&nbsp; <span>|&nbsp; Dosen</span><small class="super-small">
                    <div class="pull-right"><i class="glyphicon glyphicon-menu-right"></i></div></small></a></li>
              <li id="setting"><a href="dosen-setting.html"><small> <i class="glyphicon glyphicon-cog"></i></small>&nbsp; <span>|&nbsp; Setting</span><small class="super-small">
                    <div class="pull-right"><i class="glyphicon glyphicon-menu-right"></i></div></small></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/bootstrap-datetimepicker.min.js"></script>
    <script src="js/dekan-dekan.js"></script>
  </body>
</html>

jade/dosen/dosen-dosen.jade
//output:../../_dosen/dosen-dosen.html
extends master-dosen.jade
block custom_css
  link(rel="stylesheet",href="../css/select2.min.css")
block content
  .col-sm-12.bg-info(style="padding:5px")
    form#form-dekan
      .col-sm-12
        .row.clearfix#ikd-form1
          .col-sm-3.col-sm-offset-4(style="padding:0")
            label.col-sm-4.text-right(style="line-height:30px;padding:0")
              small Semester &nbsp;
            .col-sm-8(style="padding:0")
              select.form-control
                <option value="0">-- Pilih Semester --</option>
                <option value="20151">GASAL 2015/2016</option>
                <option value="20142">GENAP 2014/2015</option>
                <option value="20141">GASAL 2014/2015</option>
                <option value="20132">GENAP 2013/2014</option>
                <option value="20131">GASAL 2013/2014</option>
                <option value="20122">GENAP 2012/2013</option>
                <option value="20121">GASAL 2012/2013</option>
                <option value="20112">GENAP 2011/2012</option>
                <option value="20111">GASAL 2011/2012</option>
                <option value="20102">GENAP 2010/2011</option>
                <option value="20101">GASAL 2010/2011</option>
                <option value="20092">GENAP 2009/2010</option>
                <option value="20091">GASAL 2009/2010</option>
                <option value="20082">GENAP 2008/2009</option>
                <option value="20081">GASAL 2008/2009</option>
                <option value="20072">GENAP 2007/2008</option>
                <option value="20071">GASAL 2007/2008</option>
                <option value="20062">GENAP 2006/2007</option>
                <option value="20061">GASAL 2006/2007</option>
                <option value="20052">GENAP 2005/2006</option>
                <option value="20051">GASAL 2005/2006</option>
                <option value="20042">GENAP 2004/2005</option>
                <option value="20041">GASAL 2004/2005</option>
                <option value="20032">GENAP 2003/2004</option>
                <option value="20031">GASAL 2003/2004</option>
                <option value="20022">GENAP 2002/2003</option>
                <option value="20021">GASAL 2002/2003</option>
                <option value="20012">GENAP 2001/2002</option>
                <option value="20011">GASAL 2001/2002</option>
                <option value="20002">GENAP 2000/2001</option>
                <option value="20001">GASAL 2000/2001</option>
                <option value="19992">GENAP 1999/2000</option>
                <option value="19991">GASAL 1999/2000</option>
                <option value="19982">GENAP 1998/1999</option>
                <option value="19981">GASAL 1998/1999</option>
          .col-sm-2
            button.btn.btn-default.btn-sm Lihat
      .col-sm-1
  .hidden#dekan-container        
    .col-sm-12
      br
      .row
        table.table.table-bordered
          tbody
            tr
              td Nama 
              td ABDUL FADLIL, DR.,M.T.
            tr
              td  NIP / NIY
              td 60960140
            tr
              td Prodi
              td TEKNIK INFORMATIKA
            tr
              td Semester
              td GASAL 2015/2016
    
    br
    .col-sm-12
      .row
        table.table.table-bordered.table-striped
          thead
            tr
              th(rowspan=2) #
              th(rowspan=2) Kode MK
              th(rowspan=2) Mata Kuliah
              th(rowspan=2) SKS
              th(rowspan=2) Kelas
              th(rowspan=2) JML MHS
              th.text-center(colspan=3) Index Kinerja Dosen
              th(rowspan=2) Nilai IKD          
            tr
              th Kehadiran Mengajar (K1)
              th Ketepatan Penyerahan Nilai (K2)
              th Penulaian Mahasiswa (K3)
          tbody
            tr
              td 1
              td 1800000258
              td Pengenalan Pola
              td 3
              td A
              td 15
              td 4
              td 4
              td 3.37
              td 3.37
            tr
              td(colspan=10) &nbsp;
            tr
              th.text-right(colspan=9) IKD Total
              td 3.37
    .col-sm-12.text-right 
      button.btn.btn-warning
        i.fa.fa-print 
        |   Cetak
    &nbsp;
    .col-sm-12
      .row
        .panel.panel-default
          .panel-heading &nbsp;
          .panel-body
            .col-sm-6
              .row
                .well.clearfix
                  .col-sm-6.text-center
                    .row
                      | Diperiksa oleh<br>
                      b Ketua Program Studi
                      br
                      br
                      br
                      br
                      | ( Sri Winiarti, S.T.,M.Cs )
                    br
                    br
                    .row
                      | Diperiksa oleh<br>
                      b Dekan FTI
                      br
                      br
                      br
                      br
                      | ( Kartika Firdausy, S.T.,M.T )
                  .col-sm-6.text-center
                    | Tanggal : 23-42-1131
                    br
                    br
                    br
                    br
                    br
                    br
                    br
                    | Tanggal : --/--/--<br>
                    br
                    button.btn.btn-sm.btn-primary Periksa
            .col-sm-6
              .well.text-center
                b Rekomendasi Ketua Program Studi
                br
                br
                br
                br
                br
                br
                br
                br
block custom_script
  script(src="../js/select2.min.js")
  script(src="../js/moment.min.js")
  script(src="../js/bootstrap-datetimepicker.min.js")
  script(src="../js/dekan-dekan.js")
